.app-container {
  padding: 40px;
  display: flex;          
  width: 100vw;           
  height: 100vh;          
  background-color: #3f3f46; 
  box-sizing: border-box;
}
@media (max-width:780px) {
  .app-container{
    display: flex;
    flex-direction: column;
  }
  
}
